
body {
    background-color:  #666666;
}

.h1 {
    color: white;
    font-size: 30px;
    color:white;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'helvetica';
    font-weight: 400;
    letter-spacing: 2px;
    text-align: left;
    line-height: 1.5;
}
    
.h2 {
    color: black;
}

.h3 {
    color: black;
}

.h4 {
    color: black;
}
    
.h5 {
    color: black;
}

.p {
    color: white;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'helvetica';
    font-weight: 100;
    letter-spacing: 2px;
    text-align: left;
    line-height: 1.5;
}

    .div { 
    background-color: #FFFFFF;
    }

a:link { 
color: #66FFFF;
}

a:visited { 
color: #66FFFF;
}
    
.li {
   color: white;
    font-size: 20px;
    padding-left: 0px;
    padding-right: 0px;
    font-family: 'helvetica';
    font-weight: 100;
    letter-spacing: 2px;
    text-align: left;
    line-height: 1.5;
}
   